@model EstruturaDoProduto.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProdutoFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProdutoFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoPadrao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoPadrao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MargemDeLucroEmReais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MargemDeLucroEmReais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoLiquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoLiquido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoBruto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
